{% extends 'admin/master.html'%}

{% block body %}
<h1 class="text-center text-danger mt-1">Thong ke bao cao</h1>

<div class="row">
    <div class="col-md-7 col-12"></div>
    <div class="col-md-5 col-12">
         <canvas id="myChart"></canvas>
    </div>
</div>
<script>
    window.onload= function(){
        const ctx = document.getElementById('myChart');

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}